In [4]:
from jenga.tasks.movies import PredictMovieRatingsTask

## Our task is to predict future movie ratings based on past ratings and genre information

In [5]:
task = PredictMovieRatingsTask()

The training data comprises of past user/item interactions, the corresponding ratings and genre information

In [6]:
task.train_data

                            genres  year  user  movie
0       Adventure|Children|Fantasy  2000     0      0
1             Comedy|Drama|Romance  2000     0      2
2                   Comedy|Romance  2000     0      5
3             Comedy|Drama|Romance  2000     0     43
4                            Drama  2000     0     46
...                            ...   ...   ...    ...
100831                              2017   609   9416
100832                              2017   609   9443
100833                              2017   609   9444
100834                              2017   609   9445
100835                              2017   609   9485

[94418 rows x 4 columns]

In [7]:
task.train_ratings

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 94418, dtype: float32

We provide a baseline model which computes embeddings of users and items

In [8]:
model = task.fit_baseline_model(task.train_data, task.train_ratings)

WARNING:tensorflow:From /home/ssc/Entwicklung/projects/jenga/env/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/15
94418/94418 [==============================] - 11s 122us/step - loss: 0.9084
Epoch 2/15
94418/94418 [==============================] - 11s 118us/step - loss: 0.7656
Epoch 3/15
94418/94418 [==============================] - 11s 118us/step - loss: 0.7300
Epoch 4/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.7176
Epoch 5/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.7060
Epoch 6/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.7015
Epoch 7/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.6954
Epoch 8/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.6925
Epoch 9/15
94418/94418 [==============================] - 11s 119us/step - loss: 0.6860
Epoch 10/15
94418/94418 [==============================] - 11s 120us/step - loss: 0.6852
Epoch 11/15
94418/94418 [==============================] - 11s 120us/step - loss: 0.6831
Epoch 12/15
94418/94418 [==============================] - 11s 121us/step - loss: 0.6796
Epoch 13/15
94418/94418 [==============================] - 11s 121us/step - loss: 0.6798
Epoch 14/15
94418/94418 [==============================] - 12s 124us/step - loss: 0.6783
Epoch 15/15
94418/94418 [==============================] - 12s 124us/step - loss: 0.6742

The test data comprises of held out ratings from the future

In [9]:
task.test_data

                           genres  year  user  movie
1839   Film-Noir|Mystery|Thriller  2018    17    695
1852       Horror|Sci-Fi|Thriller  2018    17    895
1980                  Crime|Drama  2018    17   3706
2012       Comedy|Musical|Romance  2018    17   4561
2053                               2018    17   5712
...                           ...   ...   ...    ...
95960                              2018   600   9479
95961                              2018   600   9523
95962                              2018   600   9553
95963                              2018   600   9586
95964                              2018   600   9603

[6418 rows x 4 columns]

In [15]:
predicted_ratings = model.predict(task.test_data)
task.score_on_test_ratings(predicted_ratings)

1.0435545

We can check what happens when a large portion of the genre data is missing

In [17]:
from jenga.corruptions.text import MissingValues

missing_values_corruption = MissingValues(column='genres', fraction=0.8, na_value='')

corrupted_test_data = missing_values_corruption.transform(task.test_data)
corrupted_test_data

      genres  year  user  movie
1839          2018    17    695
1852          2018    17    895
1980          2018    17   3706
2012          2018    17   4561
2053          2018    17   5712
...      ...   ...   ...    ...
95960         2018   600   9479
95961         2018   600   9523
95962         2018   600   9553
95963         2018   600   9586
95964         2018   600   9603

[6418 rows x 4 columns]

In [14]:
predicted_ratings = model.predict(corrupted_test_data)
task.score_on_test_ratings(predicted_ratings)

1.0435599